{% extends "layout.html" %}
{% block content %}

<div class="mt-5 container">
    <h2 class=" mb-3 text-center"> Регистрация </h2>
    <div class="col-4 mx-auto">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
                </div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('register') }}" method="post">
            {{ form.hidden_tag() }}
            <h5> Логин </h5>
            {{ form.username (class="mb-3 form-control form-control") }}
            <h5> Email </h5>
            {{ form.email (class="mb-3 form-control form-control") }}
            <h5> Пароль </h5>
            {{ form.password (class="mb-3 form-control form-control") }}
            <h5> Подтвердить пароль </h5>
            {{ form.confirm_password (class="mb-3 form-control form-control") }}
            <button type="submit" class="btn btn-primary"> Регистрация </button>
        </form>

        <form method="get" action="{{ url_for('show_all_students')}}" class="mt-3">
            <button type="submit" class="btn btn-info"> Назад </button>
        </form>
    </div>
</div>

{% endblock content %}

