{% extends "layout.html" %}
{% block content %}
<div class="container">
    <legend class=" mt-4 mb-4 text-center"> <h3> СПИСОК УЧЕНИКОВ </h3> </legend>
    <table class="table table-bordered">
  <thead class="bg-primary">
    <tr>
        <th scope="col">
            <p class="text-center">
                {% if direction == None or direction == 'desc' %}
                    <a style="color:#333;" href="?sort=last_name&direction=asc"> Имя/Фамилия </a>
                {% endif %}

                {% if direction == 'asc' %}
                    <a style="color:#333;" href="?sort=last_name&direction=desc"> Имя/Фамилия </a>
                {% endif %}
            </p>
        </th>
        <th scope="col">
            <p class="text-center">
                {% if direction == None or direction == 'desc' %}
                    <a style="color:#333;" href="?sort=year&direction=asc"> Год </a>
                {% endif %}

                {% if direction == 'asc' %}
                    <a style="color:#333;" href="?sort=year&direction=desc"> Год </a>
                {% endif %}
            </p>
        </th>
        <th scope="col"><p class="text-center"> Функции </p></th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
        <td> <p class="font-weight-bold text-center"> <a style="color:#333;" href="{{ url_for('student_profile', id=student.id) }}"> {{ student.first_name}} {{student.last_name}} </a>  </p> </td>
      <td> <p class="font-weight-bold text-center"> {{ student.year }} </p> </td>
      <td style="width:300px;">
          <div class="row">
            <form method="post" class="mx-auto" action="{{ url_for('remove_student') }}">
                <button type="submit" name="delete" value="{{ student.id }}" class="btn btn-danger">Удалить</button>
            </form>
          </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h3 class="text-center"> Добавить нового ученика </h3>
  <br>
<form action="{{ url_for('show_all_students') }}" method="post">
        {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            {{ form.first_name (class="form-control form-control", placeholder="Имя") }}
        </div>
        <div class="col">
            {{ form.last_name (class="form-control form-control", placeholder="Фамилия") }}
        </div>
        <div class="col">
            {{ form.year (class="form-control form-control", placeholder="Год Рождения") }}
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>
</div>

{% endblock content %}