{% extends "layout.html" %}
{% block content %}

<div class=" mt-5 container">
    <h2 class="text-center"> Профайл Ученика </h2> <br>
    <div class="row">
        <img src="{{img}}" class="img-thumbnail img-fluid  float-left" style="width:300px; height:auto; margin-left: 10rem!important;">
        <div class="float-right mt-5 ml-5 text-center" style="font-size:25px; font-weight:bold;">

            <table class="table table-bordered table-dark">
                <tbody>
                    <tr>
                        <th scope="row">Имя ученика</th>
                        <td> {{ first_name  }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Фамилия</th>
                        <td> {{  last_name }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Год рождения</th>
                        <td> {{ year }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Класс</th>
                        <td> {{ kls }} </td>
                    </tr>
                </tbody>
            </table>
            {% if current_user.is_authenticated %}
                <div class="row">
                    <form method="post" class="mx-auto" action="{{ url_for('students.edit_student_info', id=id) }}">
                        <button type="submit" name="edit_info" value="{{ id }}" class="btn btn-info"> Редактировать инфо </button>
                    </form>

                    <form method="post" class="ml-2" action="{{ url_for('students.remove_student') }}">
                        <button type="submit" name="delete" value="{{ id }}" class="btn btn-danger">Удалить ученика</button>
                    </form>

                    <p class="ml-2"> <a href="{{ url_for('students.show_all_students') }}"> <button class="btn btn-primary"> Назад </button> </a> </p>
                </div>
                {% else %}
                    <p style="font-size:20px; font-weight:500;"> <a href="{{ url_for('users.login', next=request.url+'edit')  }}">Авторизируйтесь</a> для внесения изменений о студенте </p>
                {% endif %}
        </div>
    </div>
</div>

{% endblock content %}