{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h2 class="text-center"> Профайл Ученика </h2> <br>
    <div class="row">
        <img src="/static/images/default.png" alt="" class="rounded float-left" style="width:300px; height:auto; margin-left: 10rem!important;">
        <div class="float-right mt-5 ml-5 text-center" style="font-size:25px; font-weight:bold;">
            <form action="{{ url_for('show_all_students') }}">
                <button type="submit" class=" mb-2 btn btn-primary">На Главную</button>
            </form>
            <table class="table table-bordered table-dark">
                <tbody>
                    <tr>
                        <th scope="row">Имя ученика</th>
                        <td> {{ first_name  }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Фамилия</th>
                        <td> {{  last_name }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Год рождения</th>
                        <td> {{ year }} </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <form method="post" class="mx-auto" action="{{ url_for('edit_student_info', id=id) }}">
                    <button type="submit" name="edit_info" value="{{ id }}" class="btn btn-info"> Редактировать инфо </button>
                </form>

                <form method="post" class="mx-auto" action="{{ url_for('remove_student') }}">
                    <button type="submit" name="delete" value="{{ id }}" class="btn btn-danger">Удалить ученика</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}