{% extends "layout.html" %}
{% block content %}
<div class="container">
    <legend class=" mt-4 mb-4 text-center"> <h3> СПИСОК УЧЕНИКОВ </h3> </legend>
    <table class="table table-bordered">
  <thead class="bg-primary">
    <tr>
      <th scope="col"><p class="text-center"> Номер </p></th>
      <th scope="col"><p class="text-center"> Имя </p></th>
      <th scope="col"><p class="text-center"> Фамилия </p></th>
      <th scope="col"><p class="text-center"> Год </p></th>
        <th scope="col"><p class="text-center"> Функции </p></th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      <th scope="row"> <p class="font-weight-bold text-center"> {{ student[0] }} </p> </th>
      <td> <p class="font-weight-bold text-center"> {{ student[1] }} </p> </td>
      <td> <p class="font-weight-bold text-center"> {{ student[2] }} </p> </td>
      <td> <p class="font-weight-bold text-center"> {{ student[3] }} </p> </td>
      <td> <form method="POST" action="{{ url_for('remove_student') }}">
            <p class="font-weight-bold text-center">
            <button type="submit" name="delete" value="{{ student[0] }}" class="btn btn-outline-danger">Удалить</button> </p> </form> </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div> <p class="font-weight-bold"> Количество учеников: {{ amount }} </p> </div>
<div> <p class="font-weight-bold"> Средний возраст: {{ avg }} лет </p> </div>

<h3 class="text-center"> Добавить нового ученика </h3>
  <br>
<form action="{{ url_for('add_student') }}" method="post">
        {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            {{ form.first_name (class="form-control form-control", placeholder="Имя") }}
        </div>

        <div class="col">
            {{ form.last_name (class="form-control form-control", placeholder="Фамилия") }}
        </div>

        <div class="col">
            {{ form.year (class="form-control form-control", placeholder="Год Рождения") }}
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>

</div>

{% endblock content %}